body{
    background-color: hsl(174, 23%, 91%);
    font-size: 16px;
}
a{
    color: hsl(0, 0%, 98%);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    text-decoration: solid;
    cursor: pointer;
    color: hsl(0, 0%, 78%);
}
/* nav section*/
nav{
    background-color: rgba(85, 15, 55, 0.547);
    color: hsl(248, 92%, 5%); 
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   padding-bottom: 0.3px;
    
    
}
.navlist{
    list-style: none;
    display: flex;
    margin-top: 0;
    justify-content: flex-end;

}
.navlist li{

    margin: 10px;
}
#quote{
    order:-1;
    margin-left: 100px;
    margin-right: auto;
    color: hsl(248, 80%, 18%); 
    font-weight: 900;
    font-size: 1.6rem;
}


/* Header section */


header{
    background-color: hsl(240, 47%, 19%);
    color: white;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 4em;
    margin-top: 5px;
   
 
}
.headerlist{
    list-style: none;
    display: flex;
    margin-top: 0;
    justify-content: flex-start;
    float: left;
    margin-left: 40px;
    font-size: 1.1rem;

}

.headerlist li{
    margin: 10px;
}

.headerlist2{
    list-style: none;
    display: flex;
    margin-top: 0;
    justify-content: flex-end;
    position:static;
    font-size: 1.1rem;
}
.headerlist2 li{
    margin: 10px;
}



/*  body */

#body{
    background-color: beige;
    height: 100em;
}
/* footer */
footer{
    background-color: hsl(240, 47%, 19%);
    color: white;
    margin-top: auto;
    padding: 10px;
}

footer ul{
    list-style: none;
    display: flex;
  
    justify-content: space-around;
   
    font-size: 0.7rem;
    text-align: justify;
   
}
footer li{
    margin: 5px;
    display: inline;
}
#copyright{
    order: -1;
    margin-right: auto;
}

/* teams */

.teams{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1em;
    height: 20em;
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;


}
.teams h2{
    margin-bottom: 5px;
    background-color: rgb(147, 166, 166, 0.8);
    font-size: 1rem;
    padding: 5px;
    

}

.scullin{
    border: 1px, solid;
    background-image: url('/resources/images/scullin.jpeg');
    text-align: center;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.woden{
    border: 1px, solid;
    background-color: hsl(209, 39%, 81%);
    text-align: center;
    background-image: url('/resources/images/wooden.jpeg');
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    

}
.hawker{
    border: 1px, solid;
    background-color: hsl(209, 62%, 77%);
    text-align: center;
    background-image: url('/resources/images/hawker.jpeg');
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.scullin, .woden, .hawker{
    color: rgb(245, 245, 245);
    font-size: 0.75em;

}
.teams > div {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
}

.teams > div:hover {
    grid-column: span 2;
    grid-row: span 2;
    grid-template-columns: 2fr, 0.5fr, 0.5fr;

}


/* sponser*/

.sponser{
    background-color: hsl(240, 47%, 19%);
    color: white;
    display: flex;
    font-size: 12px;
    justify-content: space-around;   
    padding: 10px;

 
}
.sponser img{
    margin-top: 10px;
    position: relative;
    right: 3em;
}
/*video section*/

.Videocontainer{
    background-color: hsl(240, 51%, 18%);
    color: white;
    text-align: center;
    padding-bottom: 20px;
    font-size: 0.6em;
 
}
/*Games and features*/

.gamebox{
    background-color: hsl(312, 80%, 14%);
    margin: 10px;
    padding: 10px;    padding-bottom: 20px;
    color: white;
    text-align: center;
    font-size: 0.6em;
}
.games h2{
    margin-bottom: 0;
    background-color: rgb(147, 166, 166, 0.8);
    font-size: 2em;
    
}
 


.games{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 1em;
    margin-left: 10px;
    margin-right: 10px;

    height: 30em;
    gap: 5px;
    font-size: 10px;
   
}
.game{
    border: 1px, solid;
   

    text-align: center;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 8px;
}
.gametitle{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
#gameone{
    
    background-image: url('/resources/images/game1.jpeg');
    background-size: cover;
    background-position: center;
}
#gametwo{
    
    background-image: url('/resources/images/game2.jpeg');
    background-size: cover;
    background-position: center;
}
#gamethree{
    
    background-image: url('/resources/images/game3.jpeg');
    background-size: cover;
    background-position: center;
}
    
#gamefour{
    
    background-image: url('/resources/images/game4.jpeg');
    background-size: cover;
    background-position: center;
}
#gamefive{
    
    background-image: url('/resources/images/game5.jpeg');
    background-size: cover;
    background-position: center;
}


/* playetr */
.mainplayerbox{
    background-color: hsl(240, 51%, 19%);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
   
}

.players{
    display: flex ;
   overflow: hidden;
   padding: 10px;
  
  
}
#players .player{
    flex: 0 0 auto;
    width: 33%;
    height: 20em;
    /*background-color: hsl(240, 5%, 74%);*/
   
    margin: 15px;
    
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    color: hsl(248, 80%, 18%); 
    font-weight: 900;
}
#players h2{
    margin-bottom: 0;
    background-color: rgb(147, 166, 166, 0.8);
    font-size: 1rem;
}
#playerone{
    background-image: url('/resources/images/1.jpeg');
    background-size: cover;
    background-position: center;
}
#playertwo{
    background-image: url('/resources/images/2.jpeg');
    background-size: cover;
    background-position: center;
}
#playerthree{
    background-image: url('/resources/images/3.jpeg');
    background-size: cover;
    background-position: center;
}
#playerfour{
    background-image: url('/resources/images/4.jpeg');
    background-size: cover;
    background-position: center;
}


.show{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    color: hsl(205, 72%, 79%);

}
#nextButton {
    font-size: 1rem;
    margin-top: 0px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #78eb7c;
    color: white;
    border: none;
    border-radius: 5px;
   position: relative;
    float: inline-end;
}
#previousButton {
    font-size: 1rem;
    margin-top: 10px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #79e37c;
    color: white;
    border: none;
    border-radius: 5px;
}

.players .player > div {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
}

 .players > div:hover {
    grid-column: span 2;

    grid-template-columns: 2fr, 0.5fr, 0.5fr;
    cursor: pointer;

}
    

    .playersheading{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 1.5em;
        

    }

    

/* media */
.media{
    text-align: center;
    background-color: hsl(312, 80%, 14%);
    padding: 10px;
    margin-top: 30px;
    color: white;
    

}
.social-accounts__list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 10px;
    padding-bottom: 20px;

}
.social-accounts__account-container{
    background-color: rgb(104, 80, 189);
    display: flex;
    padding: 20px;
    
}
.social-accounts__account-container a{
    color: white;
    text-decoration: none;
    font-size: 11px;
}

/* players */


.playerbox{
      background-color: hsl(240, 51%, 25%);
      text-align: center;
      color: white;
}
.playersname{
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    
  
   
}
.playername{
    display: flex;
    flex-direction: column;
    background-color: hsl(240, 51%, 19%);
    margin: 10px;
    padding: 10px;

}
.playername h2{
    font-size: 1em;
}
.playername li{
    color:hsl(0, 0%, 80%);
}
.playerlist{
    list-style: none;
    text-align: center;
}