body{
    background-color: hsl(174, 23%, 91%);
    font-size: 16px;
}

/* nav section*/
nav{
    background-color: hsl(240, 9%, 39%);
    color: white;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   padding-bottom: 0.3px;
    
    
}
.navlist{
    list-style: none;
    display: flex;
    margin-top: 0;
    justify-content: flex-end;

}
.navlist li{

    margin: 10px;
}
#quote{
    order:-1;
    margin-right: auto;
    color: hsl(90, 79%, 50%);
    font-weight: 900;
    font-size: 1.6rem;
}


/* Header section */


header{
    background-color: hsl(240, 47%, 19%);
    color: white;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 4em;
    margin-top: 5px;
   
 
}
.headerlist{
    list-style: none;
    display: flex;
    margin-top: 0;
    justify-content: flex-start;
    float: left;
    font-size: 1.1rem;

}

.headerlist li{
    margin: 10px;
}

.headerlist2{
    list-style: none;
    display: flex;
    margin-top: 0;
    justify-content: flex-end;
    position:static;
    font-size: 1.1rem;
}
.headerlist2 li{
    margin: 10px;
}



/*  body */

#body{
    background-color: beige;
    height: 100em;
}
/* footer */
footer{
    background-color: hsl(240, 47%, 19%);
    color: white;
    margin-top: 34em;
}

footer ul{
    list-style: none;
    display: flex;
  
    justify-content: space-around;
   
    font-size: 0.7rem;
    text-align: justify;
   
}
footer li{
    margin: 5px;
    display: inline;
}
#copyright{
    order: -1;
    margin-right: auto;
}

/* temas */

.teams{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1em;
    height: 20em;
    gap: 10px;

}
.scullin{
    border: 1px, solid;
    background-image: url('/resources/images/scullin.jpeg');
    text-align: center;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.woden{
    border: 1px, solid;
    background-color: hsl(209, 39%, 81%);
    text-align: center;
    background-image: url('/resources/images/wooden.jpeg');
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    

}
.hawker{
    border: 1px, solid;
    background-color: hsl(209, 62%, 77%);
    text-align: center;
    background-image: url('/resources/images/hawker.jpeg');
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.scullin, .woden, .hawker{
    color: rgb(245, 245, 245);
    font-size: 0.75em;
}
.teams > div {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
}

.teams > div:hover {
    grid-column: span 2;
    grid-row: span 2;
    grid-template-columns: 2fr, 0.5fr, 0.5fr;

}


/* sponser*/

.sponser{
    background-color: hsl(240, 47%, 19%);
    color: white;
    display: flex;
    font-size: 12px;
    justify-content: space-around;   

 
}
.sponser img{
    margin-top: 10px;
    position: relative;
    right: 3em;
}
/*video section*/

.Videocontainer{
    background-color: rgb(57, 54, 54);
    color: white;
    text-align: center;
    padding-bottom: 20px;
    font-size: 0.6em;
 
}
/*Games and features*/


.games{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 1em;

    height: 30em;
    gap: 5px;
    font-size: 10px;
   
}
.game{
    border: 1px, solid;
     background-color: hsl(240, 9%, 39%);
    text-align: center;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 8px;
}
.gametitle{
    text-align: center;
    background-color: hsl(240, 9%, 39%);

}
/**/
/**/
